
@import "./module-sheet-name.less";
@import "./module-experience.less";
@import "./module-moonsign.less";
@import "./module-derived-attributes.less";
@import "./module-bar.less";
@import "./module-tooltip.less";
@import "./module-sheet-navigation.less";
@import "./module-list.less";
@import "./module-properties-editor.less";
@import "./module-currency.less";
@import "./module-taglist.less";
@import "./module-compendium-browser.less";
@import "./module-tick-bar-hud.less";
@import "./module-chatmessage.less";
@import "./module-fumble-table.less";
@import "./module-checkbox-list.less";

.splittermond {
    .list {
        a.rollable, a.consume, a.add-tick {
            display: inline-block;
            padding: 0;
            border: none;
            background: transparent;
            border-bottom: 2px solid rgba(var(--color-text-secondary_rgb),0.2);
            margin-bottom: -2px;
        
            &:hover {
                text-shadow: none;
                border-bottom: 2px solid rgba(var(--color-text-secondary_rgb),0.5);
            }
        }
    }
    

    &.sheet.item .tab > * {
        padding: 7px;
    }
}



