<div
    class="splittermond check{{#if succeeded}} success{{/if}}{{#if isFumble}} fumble{{/if}}{{#if isCrit}} critical{{/if}}">
    <header class="chat-message-header">
        {{#if img}}
        <img src="{{img}}" title="{{title}}" width="36" height="36" />
        {{/if}}
        <div>
            <h2>{{title}}</h2>
            <span class="roll-type">{{rollType}}</span>
            {{#if difficulty}}
            <span class="{{#if hideDifficulty}}gm-only{{/if}}">
                &nbsp;{{localize "splittermond.versus"}}&nbsp;<span class="difficulty">{{difficulty}}</span>
            </span>
            {{/if}}
        </div>
    </header>
    <div class="roll-summary dice-roll">
        <div class="roll-total">{{roll.total}}</div>
        {{{tooltip}}}
    </div>
    {{#if difficulty}}
    <div class="degree-of-success">
        <div class="stars">
            {{#times degreeOfSuccess}}
            <i class="fas fa-star"></i>
            {{/times}}
        </div>
        <strong>{{degreeOfSuccess}}&nbsp;EG</strong> {{degreeOfSuccessMessage}}
    </div>
    {{/if}}
    {{#if degreeOfSuccessDescription}}
    <div class="degree-of-success-description">
        {{{degreeOfSuccessDescription}}}
    </div>
    {{/if}}
    {{#if actions}}
    <div class="actions">
        <h3>{{localize "splittermond.furtherActions"}}</h3>
        {{#each actions}}
        <button class="{{this.classes}}" {{#each this.data}}data-{{@key}}="{{this}}" {{/each}}><i
                class="fas {{this.icon}}"></i> {{this.name}}</button>
        {{/each}}
    </div>
    {{/if}}
</div>