 <div class="list active-defense" style="margin: 3px;" data-roll-type="activeDefense">
    <div class="list-header">
        <h3>{{localize "splittermond.derivedAttribute.defense.long"}}</h3>
        <div class="value">{{localize "splittermond.skillValueAbbrev"}}</div>
        <div class="features">{{localize
            "splittermond.features"}}
        </div>
    </div>
    <ol class="list-body" data-defense-type="defense">
        {{#each activeDefense}}
        <li class="list-item" data-defense-id="{{this._id}}">
            {{#if this.img}}
            <img width="32" height="32" src="{{{this.img}}}">
            {{/if}}
            <label>
                <a class="rollable">{{localize this.name}}</a>
            </label>
            <div class="value">{{this.skill.value}}</div>
            <div class="features" title="{{this.features}}">{{this.features}}</div>
        </li>
        {{/each}}
    </ol>
</div>